        <!-- title banner start -->
        <div class="row title-banner mb-80">
            <div class="container-fluid">
                <div class="banner-wrapper">
                    <img class="br-32 w-100" src="/media/images/title-banner.jpg" alt="" >      
                    <h2 class="wrapper-content">Blogs</h2>
                </div>
            </div>
        </div>
        <!-- title banner End -->

        <!-- Blog Section Start -->
        <section class="blog-sec mb-80 wow fadeInUp" data-wow-delay="690ms">
            <div class="container-fluid">
                <div class="mb-36">
                    <p class="color-sec mb-4p">See what new about your day!</p>
                    <h3 class="fw-500">Our Latest Insights</h3>
                </div>
                <div class="row row-gap-4 mb-36">
                    <% blogs.forEach((item, i) => { %>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-card">
                                <a href="/blog-detail/<%= item._id %>" class="card-img">
                                    <img src="<%= item.image %>" alt="">
                                </a>
                                <div class="card-content">
                                    <p class=" mb-4p"><%= moment(item.dateOfPost).format("DD MMM YYYY") %></p>
                                    <a href="/blog-detail/<%= item._id %>" class="fw-700 h5 mb-12"><%= item.title %></a>
                                    <p class="light-gray mb-20 clamp-2-lines"><%= item.description %></p>
                                    <div class="text-end">
                                        <a href="/blog-detail/<%= item._id %>"
                                            class="text-18 hover-content text-decoration-underline">See Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
        <!-- Blog Section End -->
