<!-- title banner start -->
        <div class="row title-banner mb-80">
            <div class="container-fluid">
                <div class="banner-wrapper">
                    <img class="br-32 w-100" src="/media/images/title-banner.jpg" alt="" >
                    <h2 class="wrapper-content">Our Services</h2>
                </div>
            </div>
        </div>
        <!-- title banner End -->

        <!-- Service Section Start -->
        <section class="service-sec mb-120 wow fadeInUp" data-wow-delay="690ms">
            <div class="container-fluid">
                <div class="heading mb-36">
                    
                </div>
                <div class="row row-gap-4 h-100 align-items-stretch">
                    <% services.forEach((item, i) => { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-block m-0 h-100">
                            <div class="svg-block mb-20">
                                <img src="<%= item.image ? item.image : '/media/services/default.png' %>" id="service_img" alt="Service Image">
                                <h5 class="price"><%= item.price %></h5>
                            </div>
                            <a href="service-detail/<%= item._id %>" class="h4 mb-20"><%= item.title %></a>
                            <p class="mb-20  clamp-2-lines"><%= item.description %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a href="service-detail/<%= item._id %>" class="hover-content me-2">See Details</a>
                                </div>
                                <div>
                                    <a 
                                    href="<%= settings.whatsappLink %>?text=Hi, I'm interested in <%= item.title %>" 
                                    target="_blank" 
                                    class="btn btn-success btn-sm"  >
                                    Book Now
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </section>
        <!-- Service Section End -->
